body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e272e;
}

:root {
    --back-color: #1e272e;
}

:root {
    --color-letter: #fff;
}

.header {
    display: flex;
    justify-content: center;
}

.main-menu {
    display: flex;
    height: 50px;
    padding-left: 0;
    border: 1px solid #10ac84;
    flex-wrap: wrap
}

.main-menu__item {
    display: flex;
    list-style: none;

}

.main-menu__link {
    padding: 15px 40px;
    text-decoration: none;
    background-color: #222f3e;
    transition: 0.2s;
    color: var(--color-letter);

}

.main-menu__link:hover {
    background-color: #10ac84;
    border-radius: 10px;
}

/*content*/

.main-container {
    margin-left: 50px;
    width: 60%;
    float: left;
    border-right: 1px solid #10ac84;
    margin-top: 50px;
}

.article {
    margin: 20px;
    border-bottom: 2px solid #d2dae2;
    padding: 5px 15px;
    font-size: 1rem;
    background-color: var(--back-color);
    text-align: justify;
    color: var(--color-letter)
}

.images {
    display: block;
    margin: auto;
    width: 500px;
}

/* aside */

.aside {
    float: left;
    margin: 25px;
    color: var(--color-letter)
}

.search {
    display: block;
}


/* footer */

.footer {
    width: 100%;
    border-top: 2px solid #10ac84;
    background-color: #1e272e;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width:850px) {

    .main-menu {

        height: auto;
        flex-direction: column;
    }

    .main-menu__item {}

    .main-menu__link {
        padding: 15px 50px;
        flex-grow: 1;
        text-align: center;
    }


    /* content */

    .main-container {
        width: 100%;
        margin-left: 0px;
    }

    /* aside */
    .aside {
        display: none;
    }


}