body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b33939;
}

:root {
    --ba-color: #ffb142;
}

.header {
    display: flex;
    justify-content: center;
}

.main-menu {
    display: flex;
    height: 50px;
    padding-left: 0;
    border: 1px solid black;
    flex-wrap: wrap
}

.main-menu__item {
    display: flex;
    list-style: none;
    border-radius: 15px;

}

.main-menu__link {
    padding: 15px 40px;
    text-decoration: none;
    background-color: #718093;
    transition: 0.2s;
    color: #fff
}

.main-menu__link:hover {
    background-color: royalblue
}

/*content*/

.main-container {
    width: 70%;
    margin: auto;
}

.article {
    margin: 20px;
    border: 1px solid black;
    padding: 15px;
    font-size: 1rem;
    background-color: var(--ba-color);
    text-align: justify;
}

.images {
    display: block;
    margin: auto;
    width: 500px;
}

/* aside */

.class {
    display: flex;
}

/* footer */

.footer {
    width: 100%;
    background-color: #2f3640;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width:850px) {

    .main-menu {

        height: auto;
        flex-direction: column;
    }

    .main-menu__item {}

    .main-menu__link {
        padding: 15px 50px;
        flex-grow: 1;
        text-align: center;
    }


    /* content */

    .main-container {
        width: 95%;
    }


}